<div class="container">
    <h1>Hello Express</h1>
    Number of Users: <%= students.length %>
    <% students.forEach((student) => { %>
    <ul>
        <li>name: <%= student.name %></li>
        <li>program: <%= student.program %></li>
        <li>yearLevel: <%= student.yearLevel %></li>
        <li>gender: <%= student.gender %></li>
    </ul><hr>
    <% }) %>
</div>